.props {
  background-color: chartreuse;
  border: darkcyan solid 2px;
}
.prop-container {
  display: flex;
  border: solid white 1px;
}

.prop-title {
  flex: 1;
}
.prop-value {
  flex: 1;
}
.prop-description {
  flex: 2;
}

.root {
  background-color: darksalmon;
  padding: 3px;
}


.col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: white solid 1px;
  padding: 3px;
  div {
    flex: 1;
  }
}
.btn-container {
  display: flex;
  justify-content: center;
}
